// Colors

$primary:#2c3e50;
$color-router: white;


// Fonts

$font-family: Avenir, Helvetica, Arial, sans-serif;


// Margins

$margin-b: 30px;


// Fonts Titles

$font-size-title: 40px;
$font-size-text: 25px;



